<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Phone Book Application</a>
      <form class="d-flex ">
        <button class="btn btn-primary me-2" routerLink="add-contact" >Add Contact</button>
        <button class="btn btn-warning me-2"  (click) = "sendToEditPage()">Edit Contact</button>
        <button class="btn btn-danger me-2"  (click) = "deleteUser()">Delete Contact</button>

        <div class="form-check mt-2 ms-2">
            <input class="form-check-input" type="checkbox" value="" (change)="onChangeUsStyleCheckBox($event)" id="flexCheckDefault" [checked]="checkControlForUsStyle()">
            <label class="form-check-label" for="flexCheckDefault">
              US style
            </label>
          </div>

      </form>
    </div>
  </nav>

  <div class="modal-dialog modal-dialog-centered" id="editContactModal">
     
  </div>

